.DS_Store

# ignore LaTeX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.ist
*.lof
*.log
*.lot
*.symbols*
*.toc
*.upa
*.glo
*.lol
*.gz
*.out
*.gls
*.glg
*.slo
*.slg
*.sls
*.upb
*.fdb_latexmk
*.aux

# ignore the designated subfolders
auto/
biblio/
