.DS_Store

# ignore LaTeX files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.ist
*.lof
*.log
*.lot
*.symbols*
*.toc
*.upa
*.glo
*.lol
*.gz
*.out
*.gls
*.glg
*.slo
*.slg
*.sls
*.upb
*.fdb_latexmk
*.aux

# ignore the designated subfolders
auto/
biblio/
research/

#ignore vim temp files
*.swp
*.save
*.swo

# ignore cmake files and folders
build/
*.user

# ignore Qt files and folders
*build-*
moc_*
*.o
*.qmake*

# ignore clangd files and folders
.cache/
compile_commands.json
