QWidget{
	background-color: black;
	color: rgb(186, 189, 182);
}
QPushButton{
	background-color: rgb(186, 189, 182);
	color: black;
}
QLineEdit{
	border-style: solid;
    	border-width: 2px;
    	border-color: rgb(186, 189, 182);
}